body {
    background-color: aquamarine;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px black;
    position: relative;
}
main {
    margin: 0 0 500px 0;
    width: 100vw;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactInfo{
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.fineDetails {
    background-color: rgba(128, 128, 128, 0.466);
    display: grid;
    font-size: 18px;
    width: 100%;
    height: 75px;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    bottom: 0;
}
.aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 10% 5% 10%;
}
.link {
    text-decoration: none;
    color: black;
}
.projects {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 0 15% 0;
}
.project-grid {
    display: grid;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15vw;
}